<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-6arqwzgzvufsg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e3c78cd4-1e42-464e-9e06-c6c4c138e51f/resourceGroups/hands-on-lab-fperez/providers/Microsoft.Web/sites/TollBoothFunctions-6arqwzgzvufsg</ResourceId>
    <UserName>$TollBoothFunctions-6arqwzgzvufsg</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctions-6arqwzgzvufsg.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>